<script lang="ts">
  import type { LayoutData } from './$types'

  import "../app.css";
  import Navbar from "./navbar.svelte"
  import Footer from './footer.svelte'

  export let data: LayoutLoad;
</script>

<Navbar />
<slot />
<Footer />
