<script lang='ts'>
  import type { PageData } from './$types';
  import { onMount } from 'svelte';
  import { invalidateAll } from '$app/navigation';
  import { page } from '$app/stores';

  import Breakdown from './breakdown.svelte';
  // import Countdown from './countdown.svelte';
  import Hero from './hero.svelte';
  import Rules from './rules.svelte';
  import Headline from './headline.svelte';
  import Timer from './timer.svelte';
  import Stocks from './stocks.svelte';
  import Stats from './stats.svelte'

  export let data: PageData;

  onMount(() => {
  	const interval = setInterval(() => {
  	  invalidateAll();
	  // goto('/')
	  // 'mydata:round'
	  // invalidate('http://127.0.0.1:8080/api/round/current')
  	}, 3000);

  	return () => {
  	  clearInterval(interval);
  	};
  });
  //console.log($page)
</script>

{#if $page.data.loginStatus === 200 && $page.data.username}
  {#if data.roundInfo.currentRound === 0}
	<Headline />
	<div class="h-[95vh] flex items-center justify-center">
	  <Timer time={$page.data.roundInfo.time} />
	</div>
  {:else if data.roundInfo.currentRound !== -1}
	  <div class="flex flex-col items-center">
		<div class="flex flex-col items-center w-screen lg:w-4/5">
		  <Headline />
		  <div class="flex w-full justify-center mb-10">
			<Timer time={data.roundInfo.time} />
		  </div>
		  <div class="flex lg:w-2/3 justify-center mb-10">
			<Stats />
		  </div>
		  <Stocks />
		</div>
	  </div>
  {:else}
	<div class="h-[90vh] flex flex-col items-center justify-center mx-5">
	  <h1 class="text-4xl text-center text-secondary mb-2">All rounds finished!</h1>
	  <h1 class="text-lg text-center text-primary">Well done. The winner will be announced on day 3.</h1>
	</div>
  {/if}
{:else}
  <Hero />
  <!-- <Countdown /> -->
  <Breakdown />
  <Rules />
{/if}

