<script lang="ts">
  import Stage from './stage.svelte';

  // let iconHeight = "h-1/3";
  // let innerWidth = 0;
  // if (innerWidth <= 640){ // sm
  // 	iconHeight = "h-1/2";
  // }

  let iconHeight = "h-20"

  let globe = { icon: `<svg class="${iconHeight}" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m3 12h18m-18 0c0 4.9706 4.0294 9 9 9m-9-9c0-4.9706 4.0294-9 9-9m9 9c0 4.9706-4.0294 9-9 9m9-9c0-4.9706-4.0294-9-9-9m0 18c-7.2444-7.92-3.0185-15.3 0-18m0 18c7.2444-7.92 3.0185-15.3 0-18" stroke="#f3f4f6" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>`,
				title: "Country Profile",
				description: "Get to know about the country Avalon."}
  let clock = { icon: `<svg class="${iconHeight}" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 7V12L13.5 14.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#f3f4f6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>`,
				title: "Event Deadline",
			    description: "15th to 18th November' 23"}
  let capital = { icon: `<svg class="${iconHeight}" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m14 10.5c0 1.3807-2.2386 2.5-5 2.5-2.7614 0-5-1.1193-5-2.5m10 0c0-1.3807-2.2386-2.5-5-2.5-2.7614 0-5 1.1193-5 2.5m10 0v4m-10-4v4m16-9c0-1.3807-2.2386-2.5-5-2.5-1.9791 0-3.6896 0.57493-4.5 1.409m9.5 1.091c0 0.92535-1.0055 1.7333-2.5 2.1655m2.5-2.1655v8.5c0 0.7403-1.0055 1.3866-2.5 1.7324m2.5-5.7324c0 0.7567-1.0505 1.4152-2.6001 1.755m-3.3999 2.745c0 1.3807-2.2386 2.5-5 2.5-2.7614 0-5-1.1193-5-2.5m10 0v4c0 1.3807-2.2386 2.5-5 2.5-2.7614 0-5-1.1193-5-2.5v-4" stroke="#f3f4f6" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>`,
				  title: "Starting Capital",
				  description: "Every team will start with 10,000 cubits"}
  // let regularUpdates = { icon: `<svg class="${iconHeight}" fill="#f3f4f6" version="1.1" viewBox="0 -1 32 32" xmlns="http://www.w3.org/2000/svg"><g><title>megaphone</title>g fill="none" fill-rule="evenodd"><g transform="translate(-204 -308)" fill="#f3f4f6"><path d="m234 332-7-5v-12l7-5v22zm-9-6h-3v-10h3v10zm-5 0h-8c-1.988 0-6-0.582-6-5s3.946-5.065 6-5h8v10zm-5 9c0 0.553-0.448 1-1 1h-1c-0.552 0-1-0.447-1-1v-7h3v7zm19-27-9 6h-13c-4.418 0-8 2.582-8 7 0 3.733 2.542 6.339 6 7 0.045 0.27 0 8 0 8 0 1.104 0.896 2 2 2h3c1.104 0 2-0.896 2-2v-8h8l9 6c1.104 0 2-0.896 2-2v-22c0-1.104-0.896-2-2-2z"></path></g></g></g></svg>`,
  // 						 title: "Regular Updates",
  // 						 description: "Brooo"}
  let major = { icon: `<svg class="${iconHeight}" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m20.5 6.5-2-2m-9-2h4m-6.3 9.7143 2-1.7143v6m10.3-3c0 4.4183-3.5817 8-8 8-4.4183 0-8-3.5817-8-8 0-4.4183 3.5817-8 8-8 4.4183 0 8 3.5817 8 8zm-5.8 3c-0.8284 0-1.5-0.6716-1.5-1.5v-3c0-0.8284 0.6716-1.5 1.5-1.5s1.5 0.6716 1.5 1.5v3c0 0.8284-0.6716 1.5-1.5 1.5z" stroke="#f3f4f6" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>`,
   				title: "Major Headlines",
   				description: "3 chapters, various news flashes, limited choices and much more"}
  // let minor = { icon: `<svg class="${iconHeight}" fill="none" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m20.5 6.5-2-2m-9-2h4m-4.1239 8.1959 4.1583 0.03065-2.5769 6.4311m8.5426-3.6577c0 4.4183-3.5817 8-8 8-4.4183 0-8-3.5817-8-8 0-4.4183 3.5817-8 8-8 4.4183 0 8 3.5817 8 8z" stroke="#f3f4f6" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>`,
  // 				title: "Minor Headlines",
  // 				description: "Brooo"}
  // let trading = { icon: `<svg class="${iconHeight}" transform="matrix(1 0 0 1 0 0) rotate(-90)" width="200px" height="200px" fill="#f3f4f6" version="1.1" viewBox="0 0 481.8 481.8" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m384.76 213.6c-4.7-3.7-46.2-49.4-69.7-70.7-0.1-0.1-0.1-0.1-0.1-0.2v-98.4c0-24.4-19.9-44.3-44.3-44.3h-145.1c-22.7 0-41.2 18.6-41.2 41.2v230.8c0 24.4 19.9 44.3 44.3 44.3h52.9c1.8 0 3.3-1.6 3.1-3.4l-2.3-19.6c-0.2-1.6-1.5-2.7-3.1-2.7h-6.3c-1.7 0-3.1-1.4-3.1-3.1v-262.2c0-1.7 1.4-3.1 3.1-3.1h98c9.9 0 18 8.1 18 18v235.3c0 6.8-4.7 12.6-11 14.4h-0.2c-10.7-5.8-23.3-30.6-25.2-34.5-0.2-0.3-0.3-0.7-0.3-1-0.7-6.3-7.8-67.3-40.3-67.3-0.9 0-1.8 0-2.7 0.1 0 0-26 2.2-4.5 76.3 0 0.2 0.1 0.3 0.1 0.5l9.5 82.1c0 0.1 0 0.2 0.1 0.4 0.8 3.1 11.6 45 39.5 74.7 0.5 0.6 0.8 1.3 0.8 2.1v7.1c0 0.2-0.1 0.3-0.3 0.3h-2.5c-6.1 0-11.1 5-11.1 11.1v28.9c0 6.1 5 11.1 11.1 11.1h117.7c6.1 0 11.1-5 11.1-11.1v-28.7c0-6.1-5-11.1-11.1-11.1-0.2 0-0.3-0.1-0.3-0.3 3.9-36.2 17.9-160 25.4-169.7 0.2-0.3 0.4-0.6 0.5-1 1.3-4.5 7.8-32-10.5-46.3zm-254.1 74.1c0 1.6-1.3 2.8-2.8 2.8-9.8 0-17.8-8-17.8-17.8v-232.7c0-9.8 8-17.8 17.8-17.8 1.6 0 2.8 1.3 2.8 2.8v262.7z"/></svg>`,
  // 				  title: "Trading Area",
  // 				  description: "Brooo"}
  let teamIDs = { icon: `<svg class="${iconHeight}" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m6.8926 17.79c0.01572-0.0264 0.03183-0.0528 0.04832-0.079 1.2027-1.9119 1.8989-4.1728 1.8989-6.6073 0-1.9615 1.5901-3.5516 3.5517-3.5516 1.9615 0 3.5516 1.5901 3.5516 3.5516 0 0.9031-0.0615 1.7923-0.1805 2.6638m-1.8801 6.0765c0.5432-1.0841 0.9885-2.2258 1.3244-3.4128m3.4087 1.005c0.5727-2.0123 0.8793-4.1366 0.8793-6.3326 0-3.923-3.1802-7.1033-7.1033-7.1033-1.2938 0-2.5068 0.34591-3.5516 0.9503m-4.4396 10.028c0.56885-1.171 0.88792-2.4857 0.88792-3.875 0-1.2938 0.34591-2.5068 0.95029-3.5516m6.1529 3.5518c0 3.123-0.8957 6.0368-2.4442 8.4984" stroke="#f3f4f6" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>`,
				  title: "Team IDs",
				  description: "Login using your individual usernames, every member has the authority"}
  let finalDay = { icon: `<svg class="${iconHeight}" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M15 18H9M20 3H19M19 3H5M19 3C19 5.51022 17.7877 7.86592 15.7451 9.32495L12 12M5 3H4M5 3C5 5.51022 6.21228 7.86592 8.25493 9.32495L12 12M20 21H19M19 21H5M19 21C19 18.4898 17.7877 16.1341 15.7451 14.675L12 12M5 21H4M5 21C5 18.4898 6.21228 16.1341 8.25493 14.675L12 12" stroke="#f3f4f6" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>`,
				   title: "Final Day",
				   description: "At the end of Stock Shocks (Day 4 of ACE’23), the team with the highest bank balance wins!"}


  let stages = [globe, clock, capital, major, teamIDs, finalDay]
</script>

<!-- <svelte:window bind:innerWidth /> -->

<h1 class="flex justify-center text-4xl md:text-5xl text-secondary font-bold mb-11">Breakdown</h1>
<div class="grid md:grid-cols-3 md:gap-5 md:grid-rows-2 md:mx-[15vh] lg:mx-[25vh] md:max-h-[75vh]">
  {#each stages as stage}
	<Stage {...stage} />
  {/each}
</div>
