<script lang="ts">
  let countDownDate = new Date("Nov 17, 2023 18:55 GMT+5").getTime();
  let days = "--", hours = "--", mins = "--", secs = "--";

  const update = () => {
	let now = new Date().getTime();
	let distance = countDownDate - now;
	days = Math.floor(distance / (1000 * 60 * 60 * 24)).toString().padStart(2, "0");
	hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)).toString().padStart(2, "0");
	mins = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)).toString().padStart(2, "0");
	secs = Math.floor((distance % (1000 * 60)) / 1000).toString().padStart(2, "0");
  }

  update()
  let myInterval;
  $: {
	clearInterval(myInterval)
	myInterval = setInterval(update, 1000)
  }
</script>

<div class="flex flex-col items-center max-w-screen mx-10 mt-[20vh] mb-[20vh] md:mb-0 md:min-h-[95vh]">
  <h1 class="text-4xl md:text-5xl mb-2 text-secondary font-bold">
	Time Is Almost Up!
  </h1>
  <p class="text-xl text-primary mb-8 md:mb-12">Test your capital management skills</p>
  <div class="grid grid-flow-col gap-5 grid-cols-2 grid-rows-2 md:gap-5 text-center md:grid-cols-4 md:grid-rows-1 md:auto-cols-max">
	<div class="cd">
      <span class="cd-num" style="--value:{days};"></span>
      days
	</div> 
	<div class="cd">
      <span class="cd-num" style="--value:{hours};"></span>
      hours
	</div> 
	<div class="cd">
      <span class="cd-num" style="--value:{mins};"></span>
      min
	</div> 
	<div class="cd">
      <span class="cd-num" style="--value:{secs};"></span>
      sec
	</div>
  </div>
</div>

<style lang="postcss">
  .cd {
	@apply countdown flex flex-col p-2 md:p-2 bg-neutral rounded-box text-neutral-content text-2xl
  }
  .cd-num {
	@apply font-mono text-8xl text-secondary
  }
</style>
