<footer class="flex flex-col md:flex-row items-center footer p-4 bg-base-200 text-neutral-content mt-10">
  <p class="min-w-max">Copyright © 2023 - Hamza Shahid</p>
  <aside class="w-full absolute invisible md:visible md:static">
	<p class="justify-self-end">Contact us at <a class="link-hover" href="mailto:stockshocks@protonmail.com">stockshocks@protonmail.com</a></p>
  </aside>
</footer>
