<script lang="ts">
  import { page } from '$app/stores';

  // console.log("RIDDLE ME THIS: ")
  // console.log($page)
  let imgSrc;
  $: if (!!$page.data.headline) imgSrc = new URL(`../lib/headlines/${$page.data.headline.img}`, import.meta.url).href
</script>

{#if !!$page.data.headline}
  <div class="flex flex-col items-center m-3 md:m-10 mb-12">
	<div class="flex flex-col md:w-3/4 items-center">
	  <img src={imgSrc} class="rounded object-fill md:object-contain max-h-[30vh] md:max-h-1/2 lg:max-h-full md:w-full mb-4 md:mb-3" alt="A picture describing the headline.">
	  <div class="w-full">
		<h1 class="text-4xl md:text-5xl mb-2 font-semibold text-primary">{$page.data.headline.title}</h1>
		<h2 class="text-xl md:text-2xl">{$page.data.headline.text}</h2>
	  </div>
	</div>
  </div>
{/if}
