<div class="flex flex-col justify-center items-center mb-10 md:mb-0">
  <div class="hero min-h-[95vh]">
	<div class="hero-content flex-col-reverse md:flex-row mx-3 md:mx-10">
	  <div>
		<h1 class="text-6xl text-secondary">
		  <span class="italic">What is</span>
		  <br>
		  <span class="font-bold">Stock Shocks?</span></h1>
		<p class="text-2xl md:text-xl mt-2 mb-6">A crypto market simulator that’ll be as unpredictable as Doge coin. Witness your hearts skipping beats as you dive deep into the ocean of stocks whilst experiencing the varying world of finance.</p>
		<!-- <a class="btn btn-secondary p-3 mb-2 mr-2 md:mr-3" href="/signup">Join today!</a> -->
		<a class="btn btn-secondary p-3" href="/login">Get the latest news</a>
	  </div>
	  <img src="/hero.jpg" class="md:w-1/2 lg:w-1/3" />
	</div>
  </div>
</div>
