<script lang="ts">
  import { page } from '$app/stores'

  let innerWidth;
</script>

<svelte:window bind:innerWidth />
<div class="navbar bg-base-200 static z-50 shadow-sm">
  <div class="navbar-start">
	<a class="btn" href="/">
	  <img src="/star.svg" class="h-1/2 invert" />
	  Stock Shocks
	</a>
  </div>
  <div class="navbar-center">
	{#if innerWidth > 640 && $page.data.username && $page.data.currentRound > 0 } <!-- md screen + logged in -->
	  <div class="stats shadow max-h-24">
		<div class="stat">
		  <div class="stat-value text-xl text-primary">{$page.data.stats.cashOnHandString}</div>
		</div>
		<div class="stat">
		  <div class="stat-value text-xl">{$page.data.stats.shareString}</div>
		</div>
		<div class="stat">
		  <div class="stat-value text-xl">{$page.data.stats.balanceString}</div>
		</div>
	  </div>
	{/if}
  </div>
  <div class="navbar-end">
	{#if $page.data.username}
	  <form method="POST" action="?/logout">
		<button class="btn btn-outline ml-2">Logout</button>
	  </form>
	{:else}
	  <!-- <a class="btn btn-secondary md:pb-1" href="/signup">Sign up</a> -->
	  <a class="btn btn-secondary ml-2" href="/login">Login</a>
	{/if}
  </div>
</div>
