<div class="flex flex-col items-center mt-24 mb-10">
  <h1 class="text-secondary text-4xl md:text-5xl font-bold">Rules &</h1>
  <h1 class="text-secondary text-4xl md:text-5xl font-bold mb-5">Regulations</h1>
  <ul class="list-disc pl-5 w-4/5 md:w-2/3 text-xl">
	<li>In case a penalty is imposed on a team, they will not be allowed to conduct any transactions for the rest of the round.</li>
	<li>In case the penalty is reversed, the losses incurred during that time would not be accommodated.</li>
	<li>Each team must use all fair means to conduct transactions. Any attempt to gain an unfair advantage through an intended or unintentional use of another team’s id and password or any applied unfair mean would result in an immediate disqualification from the round.</li>
	<li>Teams must submit the transaction responses on time, and therefore are advised to keep a close check on the defined time duration for headlines. Any transaction requests received after the daily transaction window closes will not be catered.</li>
  </ul>
</div>
