<script lang="ts">
  export let icon, title, description;
</script>

<div class="flex flex-col justify-center items-center max-h-[35vh] mb-10">
  {@html icon}
  <div class="flex flex-col items-center md:h-2/3">
	<h1 class="text-primary text-3xl font-bold">{title}</h1>
	<p class="text-center text-xl w-4/5 md:w-2/3">{description}</p>
  </div>
</div>

<style lang="postcss">
  svg {
	@apply absolute
  }
</style>
