<script lang="ts">
  import { page } from '$app/stores'
</script>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full flex-col">
  <div class="stat flex flex-col md:items-center">
	<div class="flex flex-col flex-start text-primary">
	  <div class="stat-title text-2xl">Cash On Hand</div>
	  <div class="stat-value text-5xl">{$page.data.stats.cashOnHandString}</div>
	</div>
  </div>
  <div class="stat flex flex-col md:items-center">
	<div class="flex flex-col flex-start">
	  <div class="stat-title text-2xl">Share</div>
	  <div class="stat-value text-5xl">{$page.data.stats.shareString}</div>
	</div>
  </div>
  <div class="stat flex flex-col md:items-center">
	<div class="flex flex-col flex-start">
	  <div class="stat-title text-2xl">Team Balance</div>
	  <div class="stat-value text-5xl">{$page.data.stats.balanceString}</div>
	</div>
  </div>
</div>
