<script lang="ts">
  import { page } from '$app/stores';

  let tagVisible = true;
</script>

{#if !!$page.data.stockInfo.stocksResponse.status && $page.data.stockInfo.stocksResponse.status !== 500}
  <h2 class="text-4xl text-center mb-2 text-secondary"><b>Stocks</b></h2>
  <div style:position={tagVisible ? "" : "absolute"} style:opacity={tagVisible ? "100" : "0"}
	   on:click={() => (tagVisible = false)}
	class="flex justify-center w-full">
	<div class="alert flex flex-row justify-center mx-3 p-2">
	  <p class="text-sm text-center">Click on stock names for more options</p>
	  <button>
		<svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-5 w-5" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
	  </button>
	</div>
  </div>
  <div class="overflow-x-scroll w-full flex justify-center">
	<table class="table table-zebra lg:table-lg">
	  <thead>
		<tr>
		  <th></th>
		  <th>Name</th>
		  <th>Price</th>
		  <th>Bought</th>
		</tr>
	  </thead>
	  <tbody>
		{#each $page.data.stockInfo.stocksResponse.data as stock, i}
		  <tr>
			<th>{i}</th>
			<td><a href="/stock/{stock._id}" class="link">{stock.name}</a></td>
			<td>${stock.price}</td>
			<td>{$page.data.stockInfo.ownedStocks.find(obj => obj.stock == stock.name).owned}</td>
		  </tr>
		{/each}
	  </tbody>
	</table>
  </div>
{/if}
