<script lang="ts">
  // import { page } from '$app/stores';

  // let data = $page.data
  // console.log($page.data)

  export let time;
  let days = "--", hours = "--", mins = "--", secs = "--";

  const update = () => {
	let now = new Date().getTime();
	let distance = time - now;
	days = Math.floor(distance / (1000 * 60 * 60 * 24)).toString().padStart(2, "0");
	hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)).toString().padStart(2, "0");
	mins = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)).toString().padStart(2, "0");
	secs = Math.floor((distance % (1000 * 60)) / 1000).toString().padStart(2, "0");
  }

  update()
  let myInterval;
  $: {
	clearInterval(myInterval)
	myInterval = setInterval(update, 1000)
  }

</script>

<div class="flex flex-col mx-10 justify-center">
  <h2 class="text-3xl text-center mb-3 text-secondary">Time to next round</h2>
  <div class="grid grid-flow-col gap-5 grid-cols-2 grid-rows-2 md:gap-5 text-center md:grid-cols-4 md:grid-rows-1 md:auto-cols-max">
	<div class="cd">
      <span class="cd-num" style="--value:{days};"></span>
      days
	</div> 
	<div class="cd">
      <span class="cd-num" style="--value:{hours};"></span>
      hours
	</div> 
	<div class="cd">
      <span class="cd-num" style="--value:{mins};"></span>
      min
	</div> 
	<div class="cd">
      <span class="cd-num" style="--value:{secs};"></span>
      sec
	</div>
  </div>
</div>

<style lang="postcss">
  .cd {
	@apply countdown flex flex-col p-2 md:p-2 bg-neutral rounded-box text-neutral-content text-2xl
  }
  .cd-num {
	@apply font-mono text-8xl text-secondary
  }
</style>
