<script lang="ts">
  import type { PageData, ActionData } from './$types'
  import { enhance } from '$app/forms';
  import Chart from 'svelte-frappe-charts';

  export let data: PageData;
  export let form: ActionData;

  let chartRef;
  let buyValue = "";
  let sellValue = "";
  $: {
	buyValue = buyValue.replace(/[^0-9]/g, '');
	sellValue = sellValue.replace(/[^0-9]/g, '');
  }

  //$: console.log(form)
</script>

<div class="flex flex-col justify-center h-[100vh]">
  <Chart data={data.chartData} type="line" bind:this={chartRef} />
  <div class="card bg-neutral text-neutral-content m-3 max-w-2/3">
	  <div class="card-body items-center p-4">
		<h2 class="card-title mb-2">Transact</h2>
		{#if !!form && form.status !== 500}
		  <div class="alert alert-success mt-3 flex">
			<svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
			<span>Transaction Successful</span>
		  </div>
		{:else if !!form}
		  <div class="alert alert-error mt-3 flex">
			<svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
			<span>{form.message}</span>
		  </div>
		{/if}
		<form method="POST" action="?/buy" use:enhance>
		  <label class="input-group flex justify-center">
			<input name="buyValue" bind:value={buyValue} type="text" inputmode="numeric" placeholder="0.01"
				   class="input input-bordered max-w-1/2 max-w-[60vw]" />
			<button class="btn btn-primary px-4"
					>Buy
			</button>
		  </label>
		</form>
		<form method="POST" action="?/sell" use:enhance>
		  <label class="input-group flex justify-center">
			<input name="sellValue" bind:value={sellValue} type="text" inputmode="numeric" placeholder="0.01"
				   class="input input-bordered max-w-[60vw]" />
			<button class="btn btn-primary">Sell</button>
		  </label>
		</form>
	  </div>
  </div>
</div>
