<script lang="ts">
  import type { ActionData } from "./$types"
  import { enhance } from '$app/forms';
  import { browser } from '$app/environment'
  import { goto } from '$app/navigation';

  // Show password button
  let show: bool = false;
  let isHovered = false;
  let hoverColor = '#b5becf'
  let normalColor = '#f3f4f6'

  export let form: ActionData;
</script>

<div class="flex justify-center items-center min-h-[90vh]">
  <div class="card flex-col mx-3 md:w-full max-w-md items-stretch bg-base-200 shadow-2xl">
	<div class="card-body">
	  <h1 class="text-4xl self-center text-secondary">Sign Up</h1>
	  {#if form?.success !== undefined && form?.success}
		<div class="alert alert-success mt-3 flex">
		  <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
		  <span>Your account was created successfully!</span>
		</div>
	  {:else if form?.success !== undefined}
		<div class="alert alert-error mt-3 flex">
		  <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
		  <span>{form?.message}</span>
		</div>
	  {/if}
	  <form method="POST" use:enhance>
		<div class="form-control">
		  <label class="label">
			<span class="label-text text-primary">Username</span>
		  </label>
		  <input name="username" type="username" placeholder="bob123" class="input input-bordered" required />
		</div>
		<div class="form-control">
		  <label class="label">
			<span class="label-text text-primary">Password</span>
		  </label>
		  <div class="relative w-full">
			<button type="button" class="btn-circle absolute inset-y-0 right-0 w-8 mx-2"
					on:click={() => show = !show} on:mouseover={() => isHovered = true} on:mouseout={() => isHovered = false}>
			  {#if !show}
				<svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g stroke={isHovered ? hoverColor : normalColor} stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="m15.001 12c0 1.6569-1.3431 3-3 3-1.6568 0-3-1.3431-3-3s1.3432-3 3-3c1.6569 0 3 1.3431 3 3z"/><path d="m12.001 5c-4.4777 0-8.2679 2.9429-9.5422 7 1.2743 4.0571 5.0646 7 9.5422 7 4.4776 0 8.2679-2.9429 9.5422-7-1.2743-4.0571-5.0646-7-9.5422-7z"/></g></svg>
			  {:else}
				<svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m2.999 3 18 18m-11.156-11.086c-0.52264 0.53996-0.84428 1.2756-0.84428 2.0864 0 1.6569 1.3432 3 3 3 0.8225 0 1.5677-0.331 2.1096-0.867m-7.6096-7.4858c-1.8993 1.2532-3.346 3.1368-4.042 5.3528 1.2742 4.0571 5.0646 7 9.5422 7 1.9889 0 3.8422-0.5806 5.3996-1.5816m-6.3998-12.369c0.329-0.03266 0.6627-0.04939 1.0002-0.04939 4.4777 0 8.268 2.9429 9.5422 7-0.2807 0.894-0.6837 1.7338-1.1892 2.5" stroke={isHovered ? hoverColor : normalColor} stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
			  {/if}
			</button>
			<input name="password" type={show ? "text" : "password"} placeholder="Password" class="input input-bordered w-full pr-12"
				   autocomplete="off" required />
		  </div>
		  <label class="label">
			<a class="label-text-alt link link-hover" href="mailto:stockshocks@protonmail.com">
			  Forgot Password?
			</a>
		  </label>
		</div>
		<div class="form-control">
		  <label class="label">
			<span class="label-text text-primary">Team to join?</span>
		  </label>
		  <input name="team" type="username" placeholder="RyanGoslingFanCommunity" class="input input-bordered" required />
		</div>
		<!-- <button class="btn btn-outline btn-primary w-full mt-3"> -->
		  <button class="btn bg-base-100 hover:bg-primary hover:text-base-100 w-full mt-3"
				  class:btn-disabled={form?.success} class:btn-loading={form?.success}>
		  {#if form?.success}
			<span class="loading loading-spinner"></span>
		  {/if}
		  Create Account
		</button>

		<!-- My little Honeypot -->
		<input type="hidden" name="pot">
	  </form>
	</div>
  </div>
</div>
